.calendar-cell {
	padding: 15px;
	text-align: center;
	transition: all 0.4s ease;
}

.calendar-cell:hover {
	cursor: pointer;
	font-weight: 500;
	background-color: rgba(26, 172, 104, 0.603);
}

.calendar-cell.has-events::after {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	background-color: orange;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 4px;
}
