.calendar-container {
	width: 100%;
	min-height: 500px;
	height: 60vh;
	background-color: #12121f;
	color: #eee;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.calendar-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.calendar-header {
	letter-spacing: 1px;
	color: #ffffff5e;
	padding: 0px 5px;
}

@media screen and (min-width: 1024px) {
	.calendar-container {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}
