.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(216, 200, 253, 0.034);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: #fff;
	width: 80%;
	height: 80%;
	padding: 50px;
	border-radius: 1px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.055);
}

.modal-content h2 {
	margin-top: 0;
	font-size: 4rem;
}

.modal-content p {
	margin-bottom: 10px;
}

.modal-content button {
	background-color: #481fff;
	color: #fff;
	padding: 2rem 3rem;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.3s;
}

.modal-content button:hover {
	color: #525252af;
	background-color: #481fff3b;
}
