.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-container label {
	padding: 10px 0px;
}

.form-container input {
	width: 150px;
}

.form-submit {
	background-color: blue;
	width: 150px;
	border-radius: 5px;
}
