.form-container {
	margin: 60px;
}

.form-header {
	text-align: left;
	font-weight: 500;
	text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
	letter-spacing: 2px;
	margin-bottom: 40px;
}

.horizontal-line {
	width: 100%;
	height: 0.5px;
	background-color: #eeeeee46;
	margin-bottom: 40px;
}

.form-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.form-field {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.form-label {
	text-align: left;
	font-size: 1rem;
	margin-bottom: 10px;
	color: #aaa;
}

.form-input {
	border-radius: 2px;
	max-width: 300px;
}

.form-control {
	padding: 10px;
	font-size: 1rem;
	border: none;
	color: #aaa;
	border: 1px solid #aaa;
	margin-bottom: 20px;
	font-weight: 100;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control::placeholder {
	color: #aaa;
	font-weight: 100;
}

.text-danger {
	color: #dc3545;
}

#form-submit {
	min-width: 200px;
	margin-top: 3rem;
	padding: 1.5rem;
	font-size: 1rem;
	background-color: #54a0f1;
	color: #ffffff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

#form-submit:hover {
	background-color: #54a0f1;
}

#form-submit:disabled {
	opacity: 0.65;
	cursor: not-allowed;
}

#form-submit:disabled:hover {
	opacity: 0.95;
	color: #ffffff;
	font-weight: 500;
	cursor: not-allowed;
}

.custom-date-input::-webkit-calendar-picker-indicator {
	filter: invert(1);
	opacity: 0.5;
	cursor: pointer;
}

.custom-date-input:focus::-webkit-calendar-picker-indicator {
	opacity: 0.5;
}
